In \[ \]:

    '''numpy stands for numerical python 
    and it is the core library for numeric 
    and scientific computing'''

In \[2\]:

    import numpy as np

In \[2\]:

    # single dimensional array
    n1 = np.array([10,20,30,40,50])

In \[5\]:

    n1

Out\[5\]:

    array([10, 20, 30, 40, 50])

In \[6\]:

    # multidimensional array in numpy
    n2 = np.array([[1,2,3,4],[5,6,7,8]])
    n2

Out\[6\]:

    array([[1, 2, 3, 4],
           [5, 6, 7, 8]])

In \[9\]:

    # initializing the numpy array with zeros
    n1 = np.zeros((5,5))
    n1

Out\[9\]:

    array([[0., 0., 0., 0., 0.],
           [0., 0., 0., 0., 0.],
           [0., 0., 0., 0., 0.],
           [0., 0., 0., 0., 0.],
           [0., 0., 0., 0., 0.]])

In \[16\]:

    # initializing numpy array with same number
    n1 = np.full((5,5),11)
    n1

Out\[16\]:

    array([[11, 11, 11, 11, 11],
           [11, 11, 11, 11, 11],
           [11, 11, 11, 11, 11],
           [11, 11, 11, 11, 11],
           [11, 11, 11, 11, 11]])

In \[20\]:

    # range
    n1 = np.arange(10,21)
    n1

Out\[20\]:

    array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20])

In \[23\]:

    n1 = np.arange(10,101,5)
    n1

Out\[23\]:

    array([ 10,  15,  20,  25,  30,  35,  40,  45,  50,  55,  60,  65,  70,
            75,  80,  85,  90,  95, 100])

In \[28\]:

    # random
    n1 = np.random.randint(1,100,10)
    n1

Out\[28\]:

    array([11, 80, 30, 45, 32, 61, 82, 53, 54, 45])

In \[31\]:

    # Shape of the array
    n1 = np.array([[1,2,3,4],[5,6,7,8],[9,8,5,3]])
    n1.shape

Out\[31\]:

    (3, 4)

In \[32\]:

    # join the numpy array
    n1 = np.array([11,12,13,14])
    n2 = np.array([22,23,24,25])

In \[33\]:

    # vstack()
    np.vstack((n1,n2))

Out\[33\]:

    array([[11, 12, 13, 14],
           [22, 23, 24, 25]])

In \[34\]:

    #hstack()
    np.hstack((n1,n2))

Out\[34\]:

    array([11, 12, 13, 14, 22, 23, 24, 25])

In \[36\]:

    #column_stack()
    np.column_stack((n1,n2))

Out\[36\]:

    array([[11, 22],
           [12, 23],
           [13, 24],
           [14, 25]])

In \[37\]:

    # NUMPY INTERSCTION
    n1 = np.array([10,20,30,40,50,60])
    n2 = np.array([50,60,70,80,90])

In \[38\]:

    np.intersect1d(n1,n2)

Out\[38\]:

    array([50, 60])

In \[39\]:

    # numpy difference
    np.setdiff1d(n1,n2)

Out\[39\]:

    array([10, 20, 30, 40])

In \[40\]:

    np.setdiff1d(n2,n1)

Out\[40\]:

    array([70, 80, 90])

In \[4\]:

    import numpy as np
    n1 = np.array([10,20])
    n2 = np.array([30,40])
    np.sum([n1,n2])

Out\[4\]:

    100

In \[5\]:

    np.sum([n1,n2],axis = 0) # row

Out\[5\]:

    array([40, 60])

In \[6\]:

    np.sum([n1,n2],axis = 1)  # col

Out\[6\]:

    array([30, 70])

In \[7\]:

    n1 = np.array([10,20,30])
    n1 = n1+1
    n1

Out\[7\]:

    array([11, 21, 31])

In \[8\]:

    n1 = np.array([10,20,30])
    n1 = n1-1
    n1

Out\[8\]:

    array([ 9, 19, 29])

In \[9\]:

    n1 = np.array([10,20,30])
    n1 = n1*2
    n1

Out\[9\]:

    array([20, 40, 60])

In \[10\]:

    n1 = np.array([10,20,30])
    n1 = n1/2
    n1

Out\[10\]:

    array([ 5., 10., 15.])

In \[11\]:

    n1= np.array([10,20,30,40,50,60])
    np.mean(n1)

Out\[11\]:

    35.0

In \[12\]:

    n1 = np.array([11,44,5,96,67,85])
    np.median(n1)

Out\[12\]:

    55.5

In \[13\]:

    n1 = np.array([1,5,3,100,4,48])
    np.std(n1)

Out\[13\]:

    36.59424666377065

In \[14\]:

    n1 = np.array([[1,2,3],[4,5,6],[7,8,9]])
    n1

Out\[14\]:

    array([[1, 2, 3],
           [4, 5, 6],
           [7, 8, 9]])

In \[16\]:

    n1[2]

Out\[16\]:

    array([7, 8, 9])

In \[17\]:

    n1[:,1]

Out\[17\]:

    array([2, 5, 8])

In \[18\]:

    n1

Out\[18\]:

    array([[1, 2, 3],
           [4, 5, 6],
           [7, 8, 9]])

In \[20\]:

    n1.transpose()

Out\[20\]:

    array([[1, 4, 7],
           [2, 5, 8],
           [3, 6, 9]])

In \[22\]:

    #matrix multiplication
    n1 = np.array([[1,2,3],[4,5,6],[7,8,9]])
    n2 = np.array([[9,8,7],[6,5,4],[3,2,1]])

In \[23\]:

    n1.dot(n2) # n1 x n2

Out\[23\]:

    array([[ 30,  24,  18],
           [ 84,  69,  54],
           [138, 114,  90]])

In \[24\]:

    n2.dot(n1) # n2 x n1

Out\[24\]:

    array([[ 90, 114, 138],
           [ 54,  69,  84],
           [ 18,  24,  30]])

In \[ \]:

    '''
    Pandas stands for panel data 
    and is the core for data manipulation 
    and data analysis

    it consist of single and 
    multidimensional data structures for 
    data manipulation


    single dimensional - Series object
    multi dimensional - Data Frame
    '''

In \[27\]:

    # Series object is a one dimensional labelled array
    import pandas as pd
    s1 = pd.Series([31,42,33,34,35])
    s1

Out\[27\]:

    0    31
    1    42
    2    33
    3    34
    4    35
    dtype: int64

In \[28\]:

    s1 = pd.Series([31,42,33,34,35],index = ['a','b','c','d','e'])
    s1

Out\[28\]:

    a    31
    b    42
    c    33
    d    34
    e    35
    dtype: int64

In \[29\]:

    pd.Series({'a':10,'b':20,'c':30})

Out\[29\]:

    a    10
    b    20
    c    30
    dtype: int64

In \[30\]:

    pd.Series({'a':10,'b':20,'c':30},index=['c','a','d','b'])

Out\[30\]:

    c    30.0
    a    10.0
    d     NaN
    b    20.0
    dtype: float64

In \[5\]:

    # Extracting single element
    import pandas as pd
    s1 = pd.Series([1,2,3,4,5,6,7,8,9])
    s1[5]

Out\[5\]:

    6

In \[9\]:

    #Extracting a sequence of element
    s1 = pd.Series([1,2,3,4,5,6,7,8,9])
    s1[4:]

Out\[9\]:

    4    5
    5    6
    6    7
    7    8
    8    9
    dtype: int64

In \[13\]:

    # Extracting Elements from back
    s1 = pd.Series([1,2,3,4,5,6,7,8,9])
    s1[:-3]

Out\[13\]:

    0    1
    1    2
    2    3
    3    4
    4    5
    5    6
    dtype: int64

In \[14\]:

    # Adding a scalar Value to series elements
    s1 = pd.Series([1,2,3,4,5,6,7,8,9])
    s1+5

Out\[14\]:

    0     6
    1     7
    2     8
    3     9
    4    10
    5    11
    6    12
    7    13
    8    14
    dtype: int64

In \[15\]:

    # Adding two series object
    s1 = pd.Series([1,2,3,4,5,6,7,8,9])
    s2 = pd.Series([10,20,30,40,50,60,70,80,90])
    s1+s2

Out\[15\]:

    0    11
    1    22
    2    33
    3    44
    4    55
    5    66
    6    77
    7    88
    8    99
    dtype: int64

In \[ \]:

    '''
    Dataframe is a 2-dimensional labelled 
    data-structure

    A dataframe comprises of rows and columns
    '''

In \[16\]:

    pd.DataFrame({'Name':['Bob','Sam','Matt'],'Marks':[76,25,92]})

Out\[16\]:

|     | Name | Marks |
|-----|------|-------|
| 0   | Bob  | 76    |
| 1   | Sam  | 25    |
| 2   | Matt | 92    |

In \[ \]:

    '''
    Dataframe In-Built Functions
    head()
    tail()
    shape()
    describe()

    '''

In \[1\]:

    # path + filename
    import pandas as pd
    ds = pd.read_csv('C:\\Users\Sangeetha\Desktop\ASD\iris.data.csv')

In \[3\]:

    ds.head()

Out\[3\]:

|     | 5.1 | 3.5 | 1.4 | 0.2 | Iris-setosa |
|-----|-----|-----|-----|-----|-------------|
| 0   | 4.9 | 3.0 | 1.4 | 0.2 | Iris-setosa |
| 1   | 4.7 | 3.2 | 1.3 | 0.2 | Iris-setosa |
| 2   | 4.6 | 3.1 | 1.5 | 0.2 | Iris-setosa |
| 3   | 5.0 | 3.6 | 1.4 | 0.2 | Iris-setosa |
| 4   | 5.4 | 3.9 | 1.7 | 0.4 | Iris-setosa |

In \[5\]:

    ds.tail()

Out\[5\]:

|     | 5.1 | 3.5 | 1.4 | 0.2 | Iris-setosa    |
|-----|-----|-----|-----|-----|----------------|
| 144 | 6.7 | 3.0 | 5.2 | 2.3 | Iris-virginica |
| 145 | 6.3 | 2.5 | 5.0 | 1.9 | Iris-virginica |
| 146 | 6.5 | 3.0 | 5.2 | 2.0 | Iris-virginica |
| 147 | 6.2 | 3.4 | 5.4 | 2.3 | Iris-virginica |
| 148 | 5.9 | 3.0 | 5.1 | 1.8 | Iris-virginica |

In \[23\]:

    ds.shape

Out\[23\]:

    (149, 5)

In \[6\]:

    ds.describe()

Out\[6\]:

|       | 5.1        | 3.5        | 1.4        | 0.2        |
|-------|------------|------------|------------|------------|
| count | 149.000000 | 149.000000 | 149.000000 | 149.000000 |
| mean  | 5.848322   | 3.051007   | 3.774497   | 1.205369   |
| std   | 0.828594   | 0.433499   | 1.759651   | 0.761292   |
| min   | 4.300000   | 2.000000   | 1.000000   | 0.100000   |
| 25%   | 5.100000   | 2.800000   | 1.600000   | 0.300000   |
| 50%   | 5.800000   | 3.000000   | 4.400000   | 1.300000   |
| 75%   | 6.400000   | 3.300000   | 5.100000   | 1.800000   |
| max   | 7.900000   | 4.400000   | 6.900000   | 2.500000   |

In \[7\]:

    # iloc - index
    ds.iloc[0:3,0:2] # Row - 0:3,  col - 0:2

Out\[7\]:

|     | 5.1 | 3.5 |
|-----|-----|-----|
| 0   | 4.9 | 3.0 |
| 1   | 4.7 | 3.2 |
| 2   | 4.6 | 3.1 |

In \[8\]:

    ds.iloc[30:40,3:]

Out\[8\]:

|     | 0.2 | Iris-setosa |
|-----|-----|-------------|
| 30  | 0.4 | Iris-setosa |
| 31  | 0.1 | Iris-setosa |
| 32  | 0.2 | Iris-setosa |
| 33  | 0.1 | Iris-setosa |
| 34  | 0.2 | Iris-setosa |
| 35  | 0.2 | Iris-setosa |
| 36  | 0.1 | Iris-setosa |
| 37  | 0.2 | Iris-setosa |
| 38  | 0.2 | Iris-setosa |
| 39  | 0.3 | Iris-setosa |

In \[11\]:

    ds.loc[0:3,('Iris-setosa','5.1','3.5')]

Out\[11\]:

|     | Iris-setosa | 5.1 | 3.5 |
|-----|-------------|-----|-----|
| 0   | Iris-setosa | 4.9 | 3.0 |
| 1   | Iris-setosa | 4.7 | 3.2 |
| 2   | Iris-setosa | 4.6 | 3.1 |
| 3   | Iris-setosa | 5.0 | 3.6 |

In \[13\]:

    # dropping columns
    ds.drop('5.1',axis=1) # col

Out\[13\]:

|     | 3.5 | 1.4 | 0.2 | Iris-setosa    |
|-----|-----|-----|-----|----------------|
| 0   | 3.0 | 1.4 | 0.2 | Iris-setosa    |
| 1   | 3.2 | 1.3 | 0.2 | Iris-setosa    |
| 2   | 3.1 | 1.5 | 0.2 | Iris-setosa    |
| 3   | 3.6 | 1.4 | 0.2 | Iris-setosa    |
| 4   | 3.9 | 1.7 | 0.4 | Iris-setosa    |
| ... | ... | ... | ... | ...            |
| 144 | 3.0 | 5.2 | 2.3 | Iris-virginica |
| 145 | 2.5 | 5.0 | 1.9 | Iris-virginica |
| 146 | 3.0 | 5.2 | 2.0 | Iris-virginica |
| 147 | 3.4 | 5.4 | 2.3 | Iris-virginica |
| 148 | 3.0 | 5.1 | 1.8 | Iris-virginica |

149 rows × 4 columns

In \[14\]:

    # Dropping rows
    ds.drop([1,2,3],axis=0)

Out\[14\]:

|     | 5.1 | 3.5 | 1.4 | 0.2 | Iris-setosa    |
|-----|-----|-----|-----|-----|----------------|
| 0   | 4.9 | 3.0 | 1.4 | 0.2 | Iris-setosa    |
| 4   | 5.4 | 3.9 | 1.7 | 0.4 | Iris-setosa    |
| 5   | 4.6 | 3.4 | 1.4 | 0.3 | Iris-setosa    |
| 6   | 5.0 | 3.4 | 1.5 | 0.2 | Iris-setosa    |
| 7   | 4.4 | 2.9 | 1.4 | 0.2 | Iris-setosa    |
| ... | ... | ... | ... | ... | ...            |
| 144 | 6.7 | 3.0 | 5.2 | 2.3 | Iris-virginica |
| 145 | 6.3 | 2.5 | 5.0 | 1.9 | Iris-virginica |
| 146 | 6.5 | 3.0 | 5.2 | 2.0 | Iris-virginica |
| 147 | 6.2 | 3.4 | 5.4 | 2.3 | Iris-virginica |
| 148 | 5.9 | 3.0 | 5.1 | 1.8 | Iris-virginica |

146 rows × 5 columns

In \[16\]:

    ds.mean

Out\[16\]:

    <bound method DataFrame.mean of      5.1  3.5  1.4  0.2     Iris-setosa
    0    4.9  3.0  1.4  0.2     Iris-setosa
    1    4.7  3.2  1.3  0.2     Iris-setosa
    2    4.6  3.1  1.5  0.2     Iris-setosa
    3    5.0  3.6  1.4  0.2     Iris-setosa
    4    5.4  3.9  1.7  0.4     Iris-setosa
    ..   ...  ...  ...  ...             ...
    144  6.7  3.0  5.2  2.3  Iris-virginica
    145  6.3  2.5  5.0  1.9  Iris-virginica
    146  6.5  3.0  5.2  2.0  Iris-virginica
    147  6.2  3.4  5.4  2.3  Iris-virginica
    148  5.9  3.0  5.1  1.8  Iris-virginica

    [149 rows x 5 columns]>

In \[17\]:

    ds.median

Out\[17\]:

    <bound method DataFrame.median of      5.1  3.5  1.4  0.2     Iris-setosa
    0    4.9  3.0  1.4  0.2     Iris-setosa
    1    4.7  3.2  1.3  0.2     Iris-setosa
    2    4.6  3.1  1.5  0.2     Iris-setosa
    3    5.0  3.6  1.4  0.2     Iris-setosa
    4    5.4  3.9  1.7  0.4     Iris-setosa
    ..   ...  ...  ...  ...             ...
    144  6.7  3.0  5.2  2.3  Iris-virginica
    145  6.3  2.5  5.0  1.9  Iris-virginica
    146  6.5  3.0  5.2  2.0  Iris-virginica
    147  6.2  3.4  5.4  2.3  Iris-virginica
    148  5.9  3.0  5.1  1.8  Iris-virginica

    [149 rows x 5 columns]>

In \[18\]:

    ds.min()

Out\[18\]:

    5.1                    4.3
    3.5                    2.0
    1.4                    1.0
    0.2                    0.1
    Iris-setosa    Iris-setosa
    dtype: object

In \[19\]:

    ds.max()

Out\[19\]:

    5.1                       7.9
    3.5                       4.4
    1.4                       6.9
    0.2                       2.5
    Iris-setosa    Iris-virginica
    dtype: object

In \[20\]:

    # Line plot
    import numpy as np
    from matplotlib import pyplot as plt

In \[21\]:

    x = np.arange(1,11)
    x

Out\[21\]:

    array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In \[22\]:

    y = 2 * x
    y

Out\[22\]:

    array([ 2,  4,  6,  8, 10, 12, 14, 16, 18, 20])

In \[23\]:

    plt.plot(x,y)
    plt.show()

![No description has been provided for this
image]()

In \[ \]: